* {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Krona One', sans-serif;
    width: 100%;
    height: 100%;
}


.fps {
    background-color: rgb(0,255,0);
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    margin: .5rem;
}

.mainButton {
    background-color: blue;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    margin: .5rem;
}

.config {
    background-color: red;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    margin: .5rem;
}

.mainButtonGroup {
    
}

#gen {
    font-size: 1.3rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
    padding: 1rem;
    border: 5px solid black;
    opacity: .9;
    color: white
}

h1 {
    text-align: center;
    padding: 2rem;
    font-family: 'Holtwood One SC', serif;
    font-size: 2.5rem;
    background-color: white;
    border: 5px solid black;
    opacity: .9;
}

.infoTextGroup{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.infoText {
    padding: 1rem;
    margin: .5rem;
    background-color: white;
    border: 5px solid black;
    text-align: center;
    opacity: .9;
}

.mainContent {
    display: flex;
    flex-direction: column-reverse;
    /* margin: 0 30rem 0 30rem; */
    margin: 0 25% 0 25%;
}

.canvasFunctionality {
    background: rgba(0,0,0,0.8);
    text-align: center;
}

.canvasFunctionality div button {
    font-family: 'Krona One', sans-serif;
}

.buttonGroup {
    padding: 1rem;
}

.buttonsInfo {
    color: white;
    font-size: 1.3rem;
    text-decoration: underline;
}

.infoTextTitle{
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: underline;
}

.list {
    text-align: left;
}


@media only screen and (max-width: 1000px) {

    html {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 600px) {

    html {
        font-size: .5rem;
    }
}
